services:
  comfyui:
    build:
      context: ./services/comfyui
      dockerfile: Dockerfile
    ports:
      - "${COMFYUI_PORT:-8188}:8188"
    stop_signal: SIGKILL
    environment: # Set to false to skip updates
      - AUTO_UPDATE_MANAGER=true
      - AUTO_UPDATE_GGUF=true
      - AUTO_UPDATE_IMPACT_PACK=true
      - AUTO_UPDATE_EASY_USE=true
    volumes:
      - /mnt/Tank/ai/stable-diffusion/custom_nodes:/comfyui/custom_nodes
      - /mnt/Tank/ai/stable-diffusion/input:/comfyui/input
      - /mnt/Tank/ai/stable-diffusion/output:/comfyui/output
      - /mnt/Tank/ai/stable-diffusion/models/loras:/comfyui/models/loras
      - /mnt/Tank/ai/stable-diffusion/models/diffusion_models:/comfyui/models/diffusion_models
      - /mnt/Tank/ai/stable-diffusion/models/text_encoders:/comfyui/models/text_encoders
      - /mnt/Tank/ai/stable-diffusion/models/vae:/comfyui/models/vae
      - /mnt/Tank/ai/stable-diffusion/models/unet:/comfyui/models/unet
      - /mnt/Tank/ai/stable-diffusion/models/checkpoints:/comfyui/models/checkpoints
      - /mnt/Tank/ai/stable-diffusion/models/SEEDVR2:/comfyui/models/SEEDVR2
      - /mnt/Tank/ai/stable-diffusion/models/embeddings:/comfyui/models/embeddings
      - /mnt/Tank/ai/stable-diffusion/models/upscale_models:/comfyui/models/upscale_models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [compute, utility]
